
.task-from{
  display: flex;
  align-items: center;
}

.task-label{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  margin-right: 2rem;
  color: #808080;
}

.task-input,
.task-input:focus{
  width: 30%;
  padding: .6rem 1.5rem;
  border: 1px solid transparent;
  background-color: #eee;
  border-radius: 10px;
  margin-right: 2rem;
  outline: none;
  color:#808080 ;
}

.btn-submit,
.btn-submit:focus{
  font-size: 1.3rem;
  padding: .6rem 3rem;
  border: 1px solid transparent;
  border-radius: 10px;
  border: 1px solid #0078d7; 
  background-color: #0078d7;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: all .2s;
}

.btn-submit:hover{
  border: 1px solid #0078d7; 
  background-color: #fff;
  color: #0078d7;
}

.btn-submit:active{
  transform: translateY(10%);
}
