
.task-content{
  padding: 2rem 4rem;
  width: 100%;
  margin-top: 2rem;
}
.task-list {
  display: flex;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100%;
}
.task-item{
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 25%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  color: #585858;
  box-shadow: 0 .5rem 2rem rgba(0 0 0 / .2);
}
.task-item:not(:last-child){
  margin-bottom: 3rem;
  margin-right: 2rem;
}


